
/*Oakwood ltd Framework v3.0 custom.css */

/* site specific bbees*/

/* Overides */

:root {
    --title-align: center;
    --heading-align: center;
}

    .header-right {
        text-align: right    }

@media (max-width: 768px) {
    .header-center {
        grid-column: 1;
        text-align: center;
    }

    .header-right {
        display: none;        /* Hide Instagram icon */
    }
}

