/*Oakwood ltd Framework v3.0.02  2026-02-26 */

/* Pagefind Search Override*/

   .myPagefind-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .myPagefind-item {
        width:100%;
        max-width: 768px;
        background-color: var(--bg-blockquote-table);
        margin: 20px auto;
        padding: 20px;
        box-shadow: var(--shadow-light);
        box-sizing: border-box;
    }

    #search .pagefind-ui__result-title {
        background-color: var(--bg-blockquote-table);
    }
    
    #search .pagefind-ui__result-tag {
        font-size: clamp(1.1rem, 2.5vw + 0.5rem, 1.25rem);
        background-color: var(--bg-inner); /* off white background */
        padding: 0.5rem;           /* optional padding */
    }

    #search .pagefind-ui__result-excerpt { /*hide standard snippet */
        display: none !important;
    }

    /* End Pagefind */


/* Catalogue */

    header .site-title-catalogue {
        font-family: var(--font-brand);
        font-weight: 400;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 20px;
    }

    .catalogue-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; /* main axis = horizontal */
        align-items: center ;
        gap: 20px;
        padding: 20px;
    }

    .catalogue-item{
        flex: 1 1 calc(33.33% - 20px);
        max-width: 600px;
        background-color: var(--bg-inner);
        padding: 20px;
        box-shadow: var(--shadow-light);
        box-sizing: border-box; /* Ensure padding is included in width */
    }

/* End Catalogue */

