# Local scripts
*.sh
*.org
*.txt
*.log
*generate-sitemap.py

# Pagefind outputs
/archive/pagefind/
/_pagefind/
/pagefind/

# Python cache
__pycache__/
*.pyc

# OS junk
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
